@import url(../../../assets/includes/includes.includes.css);
@import url(../../../assets/style/global.style.css);

.containerMenu {
    background-color: #ffffff;
    width: 150px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 2px #99b1d2;
    overflow-y: auto;
    z-index: 1000;
}

.containerMenu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.containerMenu::-webkit-scrollbar-track {
    background-color: transparent;
}

.containerMenu::-webkit-scrollbar-thumb {
    background-color: #c5c5c5af;
    border-radius: 10px;
}

.containerMenu::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
}

.extends {
    width: 150px;
}

.shinks {
    width: 50px;
}

.containerMenu * {
    color: var(--color-gray-600);
}

.containerMenu .header {
    background-color: #fff;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.containerMenu .header .favicon {
    display: flex;
    align-items: center;

}

.containerMenu .header .favicon>span {
    margin-left: 5px;
}

.shinks .header .favicon>span {
    display: none;
}

.containerMenu .header .BtnToggleMenu button {
    cursor: pointer;
}

.containerMenu .menu {
    background-color: #fff;
}

.shinks .menu h4 {
    display: none;
}

.containerMenu .menu h4 {
    font-weight: 500;
    width: 90%;
    margin: 5px auto;
}

.containerMenu .menu>nav {}

.containerMenu .menu>nav a {
    width: 90%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    border-radius: 4px;
}

.containerMenu .menu>nav a:hover {
    background-color: #e6e8e7;
}



.containerMenu .menu>nav a span {

    transition: all .5s ease-in-out;
}

.containerMenu .menu>nav a .icon {
    padding: 8px 2px;
    margin: 0px;

}

.shinks .menu>nav a .icon {
    margin: auto;
    padding: 8px 2px;
}

.shinks .menu>nav a .txt {
    display: none;
}

.containerMenu .menu>nav a .txt {
    margin-left: 5px;
    font-weight: 400;
    font-size: 10pt;
}

.containerMenu .usercontroller {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 10px auto;
}

.containerMenu .usercontroller>div:first-child {
    flex-shrink: 0;
    flex-grow: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.shinks .usercontroller>div:first-child {
    margin: auto;
}

.shinks .usercontroller>div:last-child {
    display: none;
}

.containerMenu .usercontroller>div {
    margin-left: 4px;
    font-size: 7px;

}