@import url(../../../assets/includes/includes.includes.css);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.containerForm {
    width: 100vw;
    height: 100vh;

}

.containerForm .cardForm {
    height: 500px;
  background-color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
    transition: all .5s ease-in-out;

    width: 95%;

 
    margin: auto;
    padding: 10px 5px;   position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.containerForm .cardForm .form {
    
}

.containerForm .cardForm .form .infos {
    width: 280px;
    margin: auto;
}

.containerForm .cardForm .form .infos .logo {
    display: flex;

    align-items: center;
    font-weight: 500;

}

.containerForm .cardForm .form .infos .logo small {
    margin-left: 5px;

}

.containerForm .cardForm .form .mensage {}

.containerForm .cardForm .form .mensage h1 {
    font-size: 18pt;
    font-weight: 500;
}

.containerForm .cardForm .form .mensage small {
    font-size: 10px;
}

.containerForm .cardForm .form form {}

.containerForm .cardForm .form form .inputController {

    display: grid;

    width: 280px;
    margin: 20px auto;
}

.containerForm .cardForm .form form .inputController input {

    font-size: 12px;
    height: 30px;
    border: 1px solid var(--fundo-login);
    border-radius: 5px;
    padding: 10px;

}

.containerForm .cardForm .form form .inputController input:focus {

    box-shadow: 1px 0px 10px #f0f0f0;
    outline: 1px solid var(--fundo-login);
}

.containerForm .cardForm .form form .forgotPassword {

    display: flex;
    justify-content: flex-end;
    width: 280px;
    margin: auto;
}

.containerForm .cardForm .form form .forgotPassword small {
    font-size: 10px;
    color: #989898;

}

.containerForm .cardForm .form form .forgotPassword small:hover {
    color: #198754;
    text-decoration: underline;
}

.containerForm .cardForm .form form .inputController button[type="submit"] {
    background-color: #198754;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    font-size: 10pt;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.containerForm .cardForm .form {}

.containerForm .cardForm .form {}

.containerForm .cardForm .background {
    display: none;
}
.errorRequiredInput{
    font-size: 10px;
    color: #795600;
    background-color: #fff8db;
    padding: 0px 7px;
    text-align: center;
    line-height: 20pt;
    font-weight: 700;
    margin-top: 4px;
    z-index: 2;
    border-radius:5px ;
    height: max-content;
    overflow: hidden;

}

@media screen and (min-width:668px) {
    .containerForm {
        background-color: var(--fundo-login);
        position: relative;
    }

    .containerForm .cardForm {
        background-color: rgb(255, 255, 255);
        max-width: 700px;
        height: 500px;
        box-shadow: 0px 0px 10px #e0e0e0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 10px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .containerForm .cardForm .form .infos {
        width: 280px;
        margin: auto;
    }

    .containerForm .cardForm .form .infos .logo {
        display: flex;
        
        align-items: center;
        font-weight: 500;
        height: 40px;
    }
    .containerForm .cardForm .form .infos .logo img{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
    }

    .containerForm .cardForm .form .infos .logo small {
        margin-left: 5px;
display: none;
    }

    .containerForm .cardForm .form .mensage {}

    .containerForm .cardForm .form .mensage h1 {
        font-weight: 100;
        font-size: 20pt;
        
    }

    .containerForm .cardForm .form .mensage small {
      
    }

    .containerForm .cardForm .form {
        background-color: rgb(255, 255, 255);
        padding: 10px;
        box-sizing: border-box;
    }

    .containerForm .cardForm .form form .inputController {

        display: grid;

        width: 240px;
        margin: 20px auto;
    }

    .containerForm .cardForm .form form .inputController input {
        width: 98%;
 

    }

    .containerForm .cardForm .form form .forgotPassword {
        width: 240px;
    }

    .containerForm .cardForm .form form .inputController:last-child {

        display: flex;
        justify-content: flex-start;
    }

    .containerForm .cardForm .form form .inputController button[type="submit"] {
    
 
        width: 100px;
        font-size: 10px;
   
        margin: 0px;
     
 
        font-weight: 500;
    }

    .containerForm .cardForm .background {

 
        display: grid;
        gap: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .containerForm .cardForm .background>div {
        background-color: #f0f0f0;
        display: grid;

    }

    .containerForm .cardForm .background>div img {
        height: 100%;

    }
}