@import url(../../../assets/includes/includes.includes.css);

.headerMenu {
    background-color:var(--color-blue-950);
    box-shadow: 0px 0px 10px var(--color-gray-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 3;
}
.headerMenu .logo{
    display: flex;
    
}
.headerMenu .logo .img{
    width: 50px;
    
}
.headerMenu .logo .img img{
    width: 80%;
   margin:10px auto; 
   
}
.headerMenu .logo .TitleSchool{
    display: grid;
    border-left: 2px solid var(--color-gray-400);
    text-align: center;
    color: #fff;
}
.headerMenu .menu {}

.headerMenu .menu .btnMenu {
    cursor: pointer;
}

.headerMenu .menu .btnMenu svg {
    border: 1px solid #12b989;
    border-radius: 4px;
    color: #12b989;
}

.headerMenu .menu nav {
    display: flex;

}

.headerMenu .menu nav a {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 10pt;

    margin: 3px auto;
    padding: 5px 10px;


}

.headerMenu .menu nav a:hover {
    color: #12b989;
}

.headerMenu .menu nav a span {
    margin-left: 5px;

}

.headerMenu .menu nav a:last-child {
    background-color: transparent;
    color: #fff;
    border: 1px solid #12b989;
    padding: 5px 10px;
    border-radius: 5px;
}