@import url(../../../assets/includes/includes.includes.css);

.headerMenu {
    /* background-color: var(--green-forest);
    /* Always solid green for consistency */
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    z-index: 50;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.img {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 100%;
    height: auto;
}

.TitleSchool {
    border-left: 2px solid rgba(0, 0, 0, 0.351);
    padding-left: 5px;
}

.TitleSchool h1 {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: left;
    letter-spacing: 0.5px;
}


.menu {
    display: flex;
    align-items: center;
}

.btnMenu {
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: block;
}
/* Mobile Navigation */
.nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    
}
.nav .btnClose{

display: flex;
justify-content: flex-end;
color: var(--green-dark);
}

.menuExpandir .nav {
    transform: translateX(0);
}

.navLink {
    display: flex;
    
    align-items: center;
    gap: 12px;
    color: var(--green-dark);
    font-size: 1rem;
   
    padding: 16px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.navLink:hover {
  
    color: var(--green-forest);
}


/* Desktop Navigation */
@media screen and (min-width: 900px) {
    .btnMenu {
        display: none;
    }

    .nav {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        transform: none;
        flex-direction: row;
        padding: 0;
        gap: 8px;
    }
.nav .btnClose{
    display: none;
}
    .navLink {
        color: rgba(0, 0, 0, 0.9);
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .navLink:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: rgb(77, 77, 77);
    }

    .navLink:last-child {
        background-color: var(--green-primay);
        color: rgb(255, 255, 255);
        padding: 8px 24px;
        border-radius: 30px;
        margin-left: 10px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }

    .navLink:last-child:hover {
        background-color: var(--green-accent);
        transform: translateY(-2px);
    }
}