
/* Header */
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.Breadcrumbs {
    color: #94a3b8;
    font-weight: 500;
}

.Breadcrumbs span {
    color: #0ea5e9;
    font-weight: 600;
}

.HeaderActions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.SearchBar {
    background-color: #f8fafc;
    padding: 10px 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
}

.SearchBar svg {
    color: #94a3b8;
}

.SearchBar:focus-within {
    border-color: #00a3ff;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 162, 255, 0.407);
}
.SearchBar input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: #334155;
    width: 100%;
}

.ActionIcons {
    display: flex;
    gap: 12px;
}

.IconButton {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64748b;
    cursor: pointer;
    transition: all 0.2s;
}

.IconButton:hover {
    border-color: #cbd5e1;
    color: #334155;
}

.UserProfileHeader {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 12px;
    border-left: 1px solid #e2e8f0;
}

.AvatarSmall {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    background-image: url('https://i.pravatar.cc/150?u=a042581f4e29026704d');
    /* Placeholder */
    background-size: cover;
}

.InfoSmall h4 {
    font-size: 0.9rem;
    font-weight: 600;
    color: #0f172a;
}

.InfoSmall span {
    font-size: 0.75rem;
    color: #94a3b8;
}
