# Configurações de Segurança do Django
DJANGO_SECRET_KEY=sua-chave-secreta-aqui
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=seudominio.com 127.0.0.1 localhost

# Configurações do Banco de Dados (PostgreSQL)
DB_NAME=gestao_escolar
DB_USER=postgres
DB_PASSWORD=sua-senha-aqui
DB_HOST=localhost
DB_PORT=5432
