main {
    padding: 10px;
}

main .datasUser>h2 {
    font-size: 18pt;
    padding: 10px;
}

main .datasUser {
    background-color: #fff;
    height: 200px;

}

main .datasUser .card {
    background-color: rebeccapurple;


    margin: auto;
    color: #fff;
    display: grid;
    

}

main .datasUser .card .img {
    border: 1px solid red;
}

main .datasUser .card .img img {}