@import url(../../../assets//includes/includes.includes.css);

.ContainerLoginPublic {
    background-color: var(--fundo-login);
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.ContainerLoginPublic .CardLoginPublic {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;

}

.ContainerLoginPublic .CardLoginPublic form {
    width: 80%;
    margin: auto;
    box-sizing: border-box;

}

.ContainerLoginPublic .CardLoginPublic form>div {
    display: grid;

    width: 280px;
    margin: 20px auto;
}

.ContainerLoginPublic .CardLoginPublic form>div h1 {
    font-size: 20pt;
    font-weight: 600;

}

.ContainerLoginPublic .CardLoginPublic form>div>input {
    font-size: 12px;
    height: 30px;
    border: 1px solid var(--fundo-login);
    border-radius: 5px;
    padding: 10px;
}

.ContainerLoginPublic .CardLoginPublic form>div>input:hover {
    box-shadow: 1px 0px 10px #f0f0f0;
    outline: 1px solid var(--fundo-login);
}

.ContainerLoginPublic .CardLoginPublic form .forgotPassword {
    display: flex;
    justify-content: flex-end;
}

.ContainerLoginPublic .CardLoginPublic form .forgotPassword small {
    font-size: 10px;
    color: #989898;

}

.ContainerLoginPublic .CardLoginPublic form .forgotPassword small:hover {
    color: #198754;
    text-decoration: underline;
}

.ContainerLoginPublic .CardLoginPublic form>div>button {
    background-color: #198754;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    font-size: 10pt;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

.ContainerLoginPublic .CardLoginPublic form>div:last-child {
    position: relative;
}

.ContainerLoginPublic .CardLoginPublic form>div .btnChangeViewLogin {
    background-color: #9e9e9e;
    color: rgb(255, 255, 255);
    border: 1px solid #adadad;
    border-radius: 4px;
    font-size: 8pt;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2px 5px;
    cursor: pointer;
    width: max-content;
    margin: auto;
    display: block;
    position: absolute;
    right: 20px;
    
}
.ContainerLoginPublic .CardLoginPublic form>div .btnChangeViewLogin:hover{
    background-color: #198754;
    border-color: #198754;
}

.ContainerLoginPublic .CardLoginPublic .description {
    display: none;
}
.errorRequiredInput{
    font-size: 10px;
    color: #795600;
    background-color: #fff8db;
    padding: 0px 7px;
    text-align: center;
    line-height: 20pt;
    font-weight: 700;
    margin-top: 4px;
    z-index: 2;
    border-radius:5px ;
    height: max-content;
    overflow: hidden;

}
@media screen and (min-width:668px) {
    .ContainerLoginPublic {
        background-color: var(--fundo-login);
        
    }
    .ContainerLoginPublic  .CardLoginPublic{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        display: grid;
        grid-template-columns: 55% 45%;
        max-width: 600px;
        height: 500px;
        border-radius: 10px;

        gap: 10px;
    }
    .ContainerLoginPublic .CardLoginPublic form{
        height: 100%;
    }
    .ContainerLoginPublic .CardLoginPublic form>div>button {
    background-color: #198754;
    border-radius: 5px;
    width: max-content;
    margin-left:0px;
    font-size: 10pt;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}
    
    .ContainerLoginPublic .CardLoginPublic .description {
        overflow: hidden;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: #198754;
        
    }
    .ContainerLoginPublic .CardLoginPublic .description >div{
        display: grid;
        justify-content: center;
        padding: 10px;
    }
    .ContainerLoginPublic .CardLoginPublic .description >div h1{
        font-size: 18pt;
        text-align: center;
        color: #fff;
    }
    .ContainerLoginPublic .CardLoginPublic .description >div h1 strong{
        display: block;
    }
    

} 
