@import url(../../../assets/includes/includes.includes.css);
 
.NavMenu {
position: fixed;
 
    box-shadow: 0px 0px 5px #d8d8d8;
    background-color: #fafdff;
overflow: hidden;
    height: 100vh;
    overflow-y: scroll;
    transition: all .5s ease-in-out;
    width: 50px;


}

.NavMenu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.NavMenu::-webkit-scrollbar-track {
    background-color: transparent;
}

.NavMenu::-webkit-scrollbar-thumb {
    background-color: #c5c5c5af;
    border-radius: 10px;
}

.NavMenu::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
    cursor: pointer;
}

.NavMenu .headerNavMenu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.NavMenu .headerNavMenu .faviconInstitute {
    padding: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

.NavMenu .headerNavMenu .btnExtends {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #c5c5c5;
    padding: 0px 2px;
    color: #7c7c7c;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
  

}

.NavMenu .separatorMenu {
    color: #7c7c7c;
    font-weight: 500;
    font-size: 14px;
    padding-left: 10px;
    width: 80%;
    margin: auto;
    
    border-bottom: 1px solid #7c7c7c;
    display: none;
}

.NavMenu .bodyNavMenu {
    margin-top: 10px;
}

.NavMenu .bodyNavMenu a {

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
 width: 90%;
    margin: auto;
    padding: 10px;
    color: #616161;
    transition: all .2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;


}

.NavMenu .bodyNavMenu a:hover {
     background-color: #dbdbdbaf;
      color: #0f0f0f;

}

.NavMenu .bodyNavMenu a svg {
    margin: auto;
}

.NavMenu .bodyNavMenu .text {
    display: none;
    transition: all .5s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    font-weight: 500;
}

.NavMenu .footerNavMenu {
    
}
.NavMenu .footerNavMenu a:first-child{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.NavMenu .footerNavMenu a:first-child:hover{
       background-color: #dbdbdbaf;
      color: #0f0f0f;
}
.NavMenu .footerNavMenu a:first-child .img{
    width: 30px;
    overflow: hidden;
    border-radius: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30px;
    margin: auto;
    
}
.NavMenu .footerNavMenu a:first-child .datasUserLogined
{
    font-size: 8px;
    display: none;
    
}
.NavMenu .footerNavMenu a:first-child .datasUserLogined> span{
    display: block;
    padding-left: 5px;
    
}
.NavMenu .footerNavMenu a:first-child .datasUserLogined> span:first-child{
    font-weight: 500;
}
    .NavMenu .footerNavMenu a:first-child .datasUserLogined> span:last-child{
        font-size: 8px;
        color: #7c7c7c;
        font-weight: 500;
    }
.NavMenu .footerNavMenu a:last-child{
    color: #0f0f0f;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: auto;
width: 90%;
    padding: 10px;
    border-radius: 5px;
    
    
    
}.NavMenu .footerNavMenu a:last-child:hover{
     background-color: #dbdbdbaf;
      color: #0f0f0f;
}
.NavMenu .footerNavMenu a:last-child svg{
    margin: auto;
}
.NavMenu .footerNavMenu a:last-child .text{
    display: none;
    padding-left: 10px;
}




/*
SETTINGS MENUEXTENDS
*/
.NavMenuExtends .separatorMenu{
    display: block;
}
.NavMenuExtends {
    width: 150px;
}.NavMenuExtends .bodyNavMenu a svg {
    margin: 0px;
}

.NavMenuExtends .bodyNavMenu .text {
    display: inline-block;
    margin-left: 10px;
}
.NavMenuExtends .footerNavMenu a:first-child .img{
    width: 30px;
    overflow: hidden;
    border-radius: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30px;
    margin: 0px;
    
}
.NavMenuExtends .footerNavMenu a:first-child .datasUserLogined
{
    font-size: 8px;
    display: block;
    
}

.NavMenuExtends .footerNavMenu a:last-child svg{
    margin: 0px;
}
.NavMenuExtends .footerNavMenu a:last-child .text{
    display: block;
}