.banner {
    overflow: hidden;
    max-width: 1200px;
    height: 300px;
    margin: auto;
    display: flex;
    position: relative;

}

.img {

    height: 300px;
    width: 50%;
    overflow: hidden;

}

.img img {
    width: 100%;
    height: auto;


}

/* Efeito de onda */
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave .shapefill {
    fill: #003d7684;
}

.context {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.132);
    display: flex;
    align-items: center;
    justify-content: center;
}

.context>div h1 {
    font-size: 25pt;
    text-align: center;
    color: #fff;
    background-color: #003d76d9;
    padding: 5px;
}

.context>div p {
    margin: 10px auto;
    color: #fff;
    text-align: center;
}

.site {
    padding: 20px;
    max-width: 900px;

    height: 100vh;
    margin: auto;
}

.site * {
    color: #003d76;
}

.site .Content {
    width: 80%;
    display: flex;
    margin: 10px auto;
}

.site .Content>div {
    width: 300px;
    margin: auto 5px;
    cursor: default;

    transition: all .5s ease-in-out;
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.site .Content>div:hover {
    box-shadow: 0px 0px 10px #d7d7d7d9;
}

.site .Content>div h1 {
    font-weight: 500;
    padding-left: 10px;
}

.site .Content>div p {
    text-indent: 10px;
    font-size: 10px;

}

.site .OurValues {}

.site .OurValues>div {
    width: 100px;
    display: inline-block;
    height: 100px;
    background-color: #fff;

}

.site .OurValues>div .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site .OurValues>div .txt {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.site .OurCourse {
 
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4,1fr);
}

.site .OurCourse .Course {
    padding: 10px;
    height: 130px;
    border-radius: 5px;
    /*box-shadow: #dedede 5px 5px 10px 0px;*/
    box-shadow:0px 0px 40px #dedede ;
    background-color: #fff;
    display: grid;
    grid-template-rows: 70% 30%;
}
.site .OurCourse .Course >div{
 
    display: flex;
    align-items: center;
    justify-content: center;

}
.site .OurCourse .Course h3{
    font-weight: 500;
    text-align: center;
    font-size: 12px;
}
.site .more{
    
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 20px auto;
}
.site .more .library{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    display: flex;
}
.site .more .library>div{
    padding: 10px;
}
.site .more .library>div:nth-child(2){
    display: grid;
}
.site .more .library>div:nth-child(2) a{
    border: 1px solid #003d76;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.site .more .library>div:nth-child(2) a::after{
    position: absolute;
    bottom:  0px;
    overflow: hidden;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: #003d7676;
 content: "";
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all .5s ease-in-out;
}
.site .more .library>div:nth-child(2) a:hover::after{
    border-radius: 0px;
      height: 100%;
}
.site .more .infraestrutura{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
}
.site .more .infraestrutura>div{
    overflow: hidden;
   max-width: 180px;
    height: 120px;
    border-radius: 5px;
}
.site .more .infraestrutura>div img{
    width: 100%;
}
footer{
    display: flex;
    background-color: #ffffff;
    justify-content: space-evenly;
}
.Contacts{

}
.Contacts h3{
    font-weight: 500;
    text-align: center;
}
.Contacts a{
    display: block;
    text-align: center;
    font-size: 10px;
}
.social_network h3{
    font-weight: 500;
    text-align: center;
    
}
.social_network >div a svg{
    margin: 10px 5px;
    display: inline;

}
.footer{
    background-color: rgb(255, 255, 255);
    color: #dedede;
 text-align: center;
 margin-top: 20px;

}